body {
    background-image: url("images.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#myCol {
    display: flex;
    margin-top: 100px;  

}

.card {
    margin: 30px;
    font-size: large;
    width: 400px;
    padding: 50px;
}